[Unit]
Description=SIWATT mqtt Worker
After=network.target mysql.service

[Service]
User=root
Group=root
WorkingDirectory=/opt/siwatt-server
EnvironmentFile=/opt/siwatt-server/.env
ExecStart=/root/siwatt-venv/bin/python -m mqtt_worker.main
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
