DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=siwatt_final

JWT_SECRET=siwatt_super_secret_123
JWT_EXPIRE_MINUTES=1440

MJ_APIKEY_PUBLIC=isi_public_key_kamu
MJ_APIKEY_PRIVATE=isi_secret_key_kamu
MAILJET_SENDER_EMAIL=noreply@domainkamu.com

MQTT_BROKER=your.mqtt.broker
MQTT_PORT=1883
MQTT_CLIENT_ID=siwatt-worker
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_WILDCARD=/siwatt/+/raw/+
MQTT_TOPIC_MODE=prefixed

BALANCE_DECREASE_MODE=minute

TESTING_API_SECRET=siwatt-testing-api-secret
